{% extends "base.html" %}

{% block title %}Feed - Synapse{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 py-6">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
        <\!-- Your existing feed content here -->
        <div class="lg:col-span-3">
            <\!-- Left sidebar -->
        </div>
        
        <div class="lg:col-span-6">
            <\!-- Main feed -->
        </div>
        
        <div class="lg:col-span-3">
            <\!-- Right sidebar -->
        </div>
    </div>
</div>
{% endblock %}
